* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font: normal 1.6rem/1.5 Arial, Helvetica, sans-serif;
  background-color: rgba(150, 150, 150, 0.2);
}

/* Utilities */

header, section {
  min-width: 378px;
  max-width: 1024px;
  margin: 0 auto;
}

img {
  display: block;
  width: 40%;
  margin: 0 auto;

}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.color-deeppink {
  color: deeppink;
}

.btn {
  padding: .5em 2em;
  background-color: deeppink;
  width: fit-content;
  margin: 0 auto;
  border: 2px solid #333;
  border-radius: 5px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}

.hero .btn {
  margin: 0;
}

.btn:hover {
  color: #fff;
}

/* Links */

a:link,
a:visited {
  text-decoration: none;
  color: #333;
}

a:hover,
a:active {
  text-shadow: #FC0 0 0 10px;
}

/* Header */

header {
  position: sticky;
  top: 0;
  background-color: #fff;
  padding: .5em 1.8em .5em 1em ;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Cookie", cursive;
  font-size: 4rem;
  font-weight: 900;
  font-style: italic;
  letter-spacing: 2px;
}

.nav-list {
  display: none;
  
}

.nav-list li {
  position: relative;
  list-style: none;
  padding: 0 .7em;
  font-size: 1.2rem;
  font-weight: 600;
}

.nav-list li::before {
  position: absolute;
  content: "";
  top: -5px;
  left: 5px;
  width: 90%;
  height: 5px;
}

li:hover::before {
  background-color: deeppink;
}

.nav-btn {
  padding: 0.7em 1em;
  margin: 0 0.2em;
  border-radius: 5px;
  background-color: rgba(150, 150, 150, 0.2);
  font-size: 1.2rem;
  cursor: pointer;
}

.nav-btn:hover {
  background-color: deeppink;
  color: #fff;
}

/* Hero */

.hero-bg {
  background-image: url(./images/sweetBg.jpg); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.hero {
  padding: 4em;
}

.hero p {
  padding: .5em 0 1.5em;
  font-size: 1.2rem;
  color: #333;
}

/* Section cards */

.card-container {
  justify-content: center;
  flex-wrap: wrap;
  gap: .5em;
  padding: .5em 0;
  max-width: 830px;
  margin: 0 auto;
}

.card {
  padding: 2em 0;
  width: 230px;
  background-color: #dbfdf3;
  border-radius: 5px;
  text-align: center;
  font-size: 1.2rem;
  color: #333;
}

.card h2 {
  margin: .5em 0;
}

.card p {
  margin: .5em 0 1.5em;
}


/* Media Queries - Mobile First */


@media (min-width: 500px) { 
  .card-container {
    padding: .5em;
    gap: 1em;
  }
  
  .card {
      padding: 2em 0;

  }
}

@media (min-width: 722px) {
  .hero {
      padding: 5em 4em 5em 7em;
    }
  .hero p {
    font-size: 1.6rem;
  }
  .nav-list {
    display: flex;
  }
  .hide-menu-btn {
    display: none;
  }
  .card-grow {
    width: 345px;
  }
}

@media (min-width: 880px) {
  .nav-list li {
      font-size: 1.4rem;
}
}